<html>

<title>Tekweb_1800016001</title>
<body>

<div style="text-align: center">
		<h1>Teddy Satria</h1>
		<h3>1800016001</h3>
<img src="123.Jpg" height="200" width="300" />

</div>
</body>
<ul>
<li><a href="" routerlink="Praktikum 1">Praktikum 1</a></li>
<li><a href="" routerlink="Praktikum 2">Praktikum 2</a></li>
<li><a href="" routerlink="Praktikum 3">Praktikum 3</a></li>
<li><a>Praktikum 4</a></li>
<li><a>Praktikum 5</a></li>
<li><a>Praktikum 6</a></li>
<li><a>Praktikum 7</a></li>
<li><a>Praktikum 8</a></li>
<li><a>Praktikum 9</a></li>
<li><a>Praktikum 10</a></li>
<li><a>Home</a></li>


</ul>
<router-outlet> </router-outlet>
</html>